# Sorting the hist data by month

This file aims to create new dataset sorted over the month column for the historical times data

In [1]:
import pandas as pd
import os

In [2]:
column_names = [
    "LOAN_SEQUENCE_NUMBER", "MONTHLY_REPORTING_PERIOD", "CURRENT_ACTUAL_UPB", "CURRENT_LOAN_DELINQUENCY_STATUS",
    "LOAN_AGE", "REMAINING_MONTHS", "REPURCHASE_FLAG", "MODIFICATION_FLAG", "ZERO_BALANCE_CODE",
    "ZERO_BALANCE_EFFECTIVE_DATE", "CURRENT_INTEREST_RATE", "CURRENT_DEFERRED_UPB", "DUE_DATE_OF_LAST_PAID_INSTALLMENT",
    "MI_RECOVERIES", "NET_SALES_PROCEEDS", "NON_MI_RECOVERIES", "EXPENSES", "LEGAL_COSTS", "MAINTENANCE_AND_PRESERVATION_COSTS",
    "TAXES_AND_INSURANCE", "MISCELLANEOUS_EXPENSES", "ACTUAL_LOSS_CALCULATION", "MODIFICATION_COST", "STEP_MODIFICATION_FLAG",
    "DEFERRED_PAYMENT_MODIFICATION", "ESTIMATED_LOAN_TO_VALUE", "ZERO_BALANCE_REMOVAL_UPB", "DELINQUENT_ACCRUED_INTEREST",
    "DELINQUENCY_DUE_TO_DISASTER", "BORROWER_ASSISTANCE_STATUS_CODE", "CURRENT_MONTH_LIQUIDATION_FLAG", "CURRENT_MONTH_REPURCHASE_FLAG"
]

In [ ]:
for year in range(2006, 2024):  # 2024 because the range end is exclusive
    print(year)
    file_path1 = f'hist_time_parquet/hist_data_time_{year}Q1.parquet'
    df1 = pd.read_parquet(file_path1)
    
     
    file_path2 = f'hist_time_parquet/hist_data_time_{year}Q2.parquet'
    df2 = pd.read_parquet(file_path2)
    
    file_path3 = f'hist_time_parquet/hist_data_time_{year}Q3.parquet'
    df3 = pd.read_parquet(file_path3)
    
    file_path4 = f'hist_time_parquet/hist_data_time_{year}Q4.parquet'
    df4 = pd.read_parquet(file_path4)
    

    df1.columns = column_names
    df2.columns = column_names
    df3.columns = column_names
    df4.columns = column_names

    big_df = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=True)

    
    #sort the big dataframe by months
    directory = 'hist_time_by_month'
    #append a file for each months column in this step here
    # Iterate over each group
    for name, group in big_df.groupby('MONTHLY_REPORTING_PERIOD'):
        file_path = os.path.join(directory, f'{name}.parquet')
        
        if os.path.exists(file_path):
            # Read the existing data
            existing_data = pd.read_parquet(file_path)
            
            # Concatenate the new data
            updated_data = pd.concat([existing_data, group], ignore_index=True)
        else:
            updated_data = group
        
        # Write (or overwrite) the Parquet file
        updated_data.to_parquet(file_path, engine='pyarrow', index=False)

2006
2007
2008
2009

In [9]:
big_df

,LOAN_SEQUENCE_NUMBER,MONTHLY_REPORTING_PERIOD,CURRENT_ACTUAL_UPB,CURRENT_LOAN_DELINQUENCY_STATUS,LOAN_AGE,REMAINING_MONTHS,REPURCHASE_FLAG,MODIFICATION_FLAG,ZERO_BALANCE_CODE,ZERO_BALANCE_EFFECTIVE_DATE,...,MODIFICATION_COST,STEP_MODIFICATION_FLAG,DEFERRED_PAYMENT_MODIFICATION,ESTIMATED_LOAN_TO_VALUE,ZERO_BALANCE_REMOVAL_UPB,DELINQUENT_ACCRUED_INTEREST,DELINQUENCY_DUE_TO_DISASTER,BORROWER_ASSISTANCE_STATUS_CODE,CURRENT_MONTH_LIQUIDATION_FLAG,CURRENT_MONTH_REPURCHASE_FLAG
0,F06Q10000001,200604,130000.00,0,1,359,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,130000.00
1,F06Q10000001,200605,130000.00,0,2,358,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,130000.00
2,F06Q10000001,200606,130000.00,0,3,357,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,130000.00
3,F06Q10000001,200607,129000.00,0,4,356,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,129000.00
4,F06Q10000001,200608,129000.00,0,5,355,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,129000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75564097,F06Q40433172,202305,158773.22,0,196,164,NaN,None,NaN,NaN,...,NaN,None,None,22.0,NaN,NaN,None,None,NaN,158773.22
75564098,F06Q40433172,202306,157800.24,0,197,163,NaN,None,NaN,NaN,...,NaN,None,None,23.0,NaN,NaN,None,None,NaN,157800.24
75564099,F06Q40433172,202307,156821.99,0,198,162,NaN,None,NaN,NaN,...,NaN,None,None,21.0,NaN,NaN,None,None,NaN,156821.99
75564100,F06Q40433172,202308,155838.44,0,199,161,NaN,None,NaN,NaN,...,NaN,None,None,21.0,NaN,NaN,None,None,NaN,155838.44
75564101,F06Q40433172,202309,154849.56,0,200,160,NaN,None,NaN,NaN,...,NaN,None,None,22.0,NaN,NaN,None,None,NaN,154849.56

In [11]:
%%time
big_df.sort_values(by='MONTHLY_REPORTING_PERIOD', inplace=True)

CPU times: user 8.23 s, sys: 5.37 s, total: 13.6 s
Wall time: 17.3 s

In [12]:
# Iterate over each group
for name, group in big_df.groupby('MONTHLY_REPORTING_PERIOD'):
    # File path using the name of the reporting period
    file_path = f'/{name}.parquet'  # Modify the path as needed

    # Save each group to a separate Parquet file
    group.to_parquet(file_path, engine='pyarrow', index=False)  # index=False if you don't want to save the index

,LOAN_SEQUENCE_NUMBER,MONTHLY_REPORTING_PERIOD,CURRENT_ACTUAL_UPB,CURRENT_LOAN_DELINQUENCY_STATUS,LOAN_AGE,REMAINING_MONTHS,REPURCHASE_FLAG,MODIFICATION_FLAG,ZERO_BALANCE_CODE,ZERO_BALANCE_EFFECTIVE_DATE,...,MODIFICATION_COST,STEP_MODIFICATION_FLAG,DEFERRED_PAYMENT_MODIFICATION,ESTIMATED_LOAN_TO_VALUE,ZERO_BALANCE_REMOVAL_UPB,DELINQUENT_ACCRUED_INTEREST,DELINQUENCY_DUE_TO_DISASTER,BORROWER_ASSISTANCE_STATUS_CODE,CURRENT_MONTH_LIQUIDATION_FLAG,CURRENT_MONTH_REPURCHASE_FLAG
156166,F06Q10002886,200601,0.00,0,0,360,NaN,None,1.0,200601.0,...,NaN,None,None,NaN,151000.0,NaN,None,None,NaN,0.00
70465,F06Q10001123,200601,0.00,0,0,180,NaN,None,1.0,200601.0,...,NaN,None,None,NaN,100000.0,NaN,None,None,NaN,0.00
5413459,F06Q10098149,200602,178000.00,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,178000.00
1190904,F06Q10020644,200602,80000.00,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,80000.00
790511,F06Q10013533,200602,212000.00,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,212000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30925346,F06Q20228402,202309,54990.49,0,207,153,NaN,None,NaN,NaN,...,NaN,None,None,999.0,NaN,NaN,None,None,NaN,54990.49
871492,F06Q10015162,202309,40609.40,0,209,151,NaN,None,NaN,NaN,...,NaN,None,None,20.0,NaN,NaN,None,None,NaN,40609.40
55474544,F06Q30374623,202309,81657.79,0,203,157,NaN,None,NaN,NaN,...,NaN,None,None,999.0,NaN,NaN,None,None,NaN,81657.79
63687411,F06Q40164801,202309,21670.23,0,201,159,NaN,None,NaN,NaN,...,NaN,None,None,29.0,NaN,NaN,None,None,NaN,21670.23
75564101,F06Q40433172,202309,154849.56,0,200,160,NaN,None,NaN,NaN,...,NaN,None,None,22.0,NaN,NaN,None,None,NaN,154849.56

In [14]:
import pandas as pd
import os

# Directory where Parquet files are stored
directory = 'hist_time_by_month'

# Iterate over each group
for name, group in big_df.groupby('MONTHLY_REPORTING_PERIOD'):
    file_path = os.path.join(directory, f'{name}.parquet')
    
    if os.path.exists(file_path):
        # Read the existing data
        existing_data = pd.read_parquet(file_path)
        
        # Concatenate the new data
        updated_data = pd.concat([existing_data, group], ignore_index=True)
    else:
        updated_data = group
    
    # Write (or overwrite) the Parquet file
    updated_data.to_parquet(file_path, engine='pyarrow', index=False)

In [5]:
file_path1 = f'hist_time_parquet/hist_data_time_2006Q1.parquet'
df1 = pd.read_parquet(file_path1)

In [17]:
file_path1 = f'hist_time_by_month/200602.parquet'
df1 = pd.read_parquet(file_path1)

In [18]:
df1

,LOAN_SEQUENCE_NUMBER,MONTHLY_REPORTING_PERIOD,CURRENT_ACTUAL_UPB,CURRENT_LOAN_DELINQUENCY_STATUS,LOAN_AGE,REMAINING_MONTHS,REPURCHASE_FLAG,MODIFICATION_FLAG,ZERO_BALANCE_CODE,ZERO_BALANCE_EFFECTIVE_DATE,...,MODIFICATION_COST,STEP_MODIFICATION_FLAG,DEFERRED_PAYMENT_MODIFICATION,ESTIMATED_LOAN_TO_VALUE,ZERO_BALANCE_REMOVAL_UPB,DELINQUENT_ACCRUED_INTEREST,DELINQUENCY_DUE_TO_DISASTER,BORROWER_ASSISTANCE_STATUS_CODE,CURRENT_MONTH_LIQUIDATION_FLAG,CURRENT_MONTH_REPURCHASE_FLAG
0,F06Q10098149,200602,178000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,178000.0
1,F06Q10020644,200602,80000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,80000.0
2,F06Q10013533,200602,212000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,212000.0
3,F06Q10017610,200602,144000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,144000.0
4,F06Q10011269,200602,132000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,132000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71045,F06Q10052925,200602,272000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,272000.0
71046,F06Q10065294,200602,119000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,119000.0
71047,F06Q10052920,200602,291000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,291000.0
71048,F06Q10052921,200602,340000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,340000.0
71049,F06Q10065274,200602,146000.0,0,0,360,NaN,None,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,None,None,NaN,146000.0

In [8]:
!ls

Data_Cleaning_For_Static_Set.ipynb    Untitled.ipynb
HistoricalTimeDataAnalysis.ipynb      UselessFiles
Historical_Data_Prep.ipynb            data
Interest_rate_data_monthly.csv        hist_time_parquet
Prepayments_against_rate_and_time.png parquet_compression_hist_time.ipynb
PrepaymentsbyMonth.png                playground.ipynb
PrepaymentsbyMonthCutOff.png

# Sample

In [3]:
file_path1 = f'/Users/juliusgruber/Downloads/historical_data_2006/historical_data_time_2006Q1.txt'
df1 = pd.read_csv(file_path1, sep='|', low_memory=False)

In [4]:
df1

,F06Q10000001,200603,130000.00,0,000,360,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,130000.00.1
0,F06Q10000001,200604,130000.00,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130000.00
1,F06Q10000001,200605,130000.00,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130000.00
2,F06Q10000001,200606,130000.00,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130000.00
3,F06Q10000001,200607,129000.00,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129000.00
4,F06Q10000001,200608,129000.00,0,5,355,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20379138,F06Q10374577,202004,44394.76,1,53,191,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,44394.76
20379139,F06Q10374577,202005,44394.76,2,54,190,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,NaN,NaN,Y,NaN,NaN,44394.76
20379140,F06Q10374577,202006,44394.76,3,55,189,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,NaN,NaN,Y,NaN,NaN,44394.76
20379141,F06Q10374577,202007,44394.76,4,56,188,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,NaN,NaN,Y,NaN,NaN,44394.76
20379142,F06Q10374577,202008,0.00,0,57,187,202009.0,NaN,96.0,202009.0,...,NaN,NaN,NaN,16.0,44394.76,NaN,NaN,NaN,NaN,0.00