# Parquet storage comparison

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('/Users/juliusgruber/Downloads/historical_data_2006/historical_data_time_2006Q1.txt', sep='|')

/var/folders/x4/4mqqdmr15ns_x0tn1xzv7q5h0000gn/T/ipykernel_7713/4010297894.py:1: DtypeWarning: Columns (3,7,23,24,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/juliusgruber/Downloads/historical_data_2006/historical_data_time_2006Q1.txt', sep='|')

In [9]:
df.columns = column_names

In [10]:
df

,LOAN_SEQUENCE_NUMBER,MONTHLY_REPORTING_PERIOD,CURRENT_ACTUAL_UPB,CURRENT_LOAN_DELINQUENCY_STATUS,LOAN_AGE,REMAINING_MONTHS,REPURCHASE_FLAG,MODIFICATION_FLAG,ZERO_BALANCE_CODE,ZERO_BALANCE_EFFECTIVE_DATE,...,MODIFICATION_COST,STEP_MODIFICATION_FLAG,DEFERRED_PAYMENT_MODIFICATION,ESTIMATED_LOAN_TO_VALUE,ZERO_BALANCE_REMOVAL_UPB,DELINQUENT_ACCRUED_INTEREST,DELINQUENCY_DUE_TO_DISASTER,BORROWER_ASSISTANCE_STATUS_CODE,CURRENT_MONTH_LIQUIDATION_FLAG,CURRENT_MONTH_REPURCHASE_FLAG
0,F06Q10000001,200604,130000.00,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130000.00
1,F06Q10000001,200605,130000.00,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130000.00
2,F06Q10000001,200606,130000.00,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130000.00
3,F06Q10000001,200607,129000.00,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129000.00
4,F06Q10000001,200608,129000.00,0,5,355,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20379138,F06Q10374577,202004,44394.76,1,53,191,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,44394.76
20379139,F06Q10374577,202005,44394.76,2,54,190,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,NaN,NaN,Y,NaN,NaN,44394.76
20379140,F06Q10374577,202006,44394.76,3,55,189,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,NaN,NaN,Y,NaN,NaN,44394.76
20379141,F06Q10374577,202007,44394.76,4,56,188,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,NaN,NaN,Y,NaN,NaN,44394.76
20379142,F06Q10374577,202008,0.00,0,57,187,202009.0,NaN,96.0,202009.0,...,NaN,NaN,NaN,16.0,44394.76,NaN,NaN,NaN,NaN,0.00

In [5]:
df.to_parquet('sample.parquet')

In [4]:
column_names = [
    "LOAN_SEQUENCE_NUMBER", "MONTHLY_REPORTING_PERIOD", "CURRENT_ACTUAL_UPB", "CURRENT_LOAN_DELINQUENCY_STATUS",
    "LOAN_AGE", "REMAINING_MONTHS", "REPURCHASE_FLAG", "MODIFICATION_FLAG", "ZERO_BALANCE_CODE",
    "ZERO_BALANCE_EFFECTIVE_DATE", "CURRENT_INTEREST_RATE", "CURRENT_DEFERRED_UPB", "DUE_DATE_OF_LAST_PAID_INSTALLMENT",
    "MI_RECOVERIES", "NET_SALES_PROCEEDS", "NON_MI_RECOVERIES", "EXPENSES", "LEGAL_COSTS", "MAINTENANCE_AND_PRESERVATION_COSTS",
    "TAXES_AND_INSURANCE", "MISCELLANEOUS_EXPENSES", "ACTUAL_LOSS_CALCULATION", "MODIFICATION_COST", "STEP_MODIFICATION_FLAG",
    "DEFERRED_PAYMENT_MODIFICATION", "ESTIMATED_LOAN_TO_VALUE", "ZERO_BALANCE_REMOVAL_UPB", "DELINQUENT_ACCRUED_INTEREST",
    "DELINQUENCY_DUE_TO_DISASTER", "BORROWER_ASSISTANCE_STATUS_CODE", "CURRENT_MONTH_LIQUIDATION_FLAG", "CURRENT_MONTH_REPURCHASE_FLAG"
]

In [5]:
%%time

# Iterate over each year and quarter
for year in range(2019, 2023):  # 2024 because the range end is exclusive
    for quarter in range(1, 5):  # From Q1 to Q4
        print(year,quarter)
        
        # Construct the file path
        file_path = f'/Users/juliusgruber/Downloads/historical_data_{year}/historical_data_time_{year}Q{quarter}.txt'
        output_path = f'hist_time_parquet/hist_data_time_{year}Q{quarter}.parquet'
        df = pd.read_csv(file_path, sep='|', low_memory=False)
        df.columns = column_names
        df.to_parquet(output_path)

2019 1
2019 2
2019 3
2019 4
2020 1
2020 2
2020 3
2020 4
2021 1
2021 2
2021 3
2021 4
2022 1
2022 2
2022 3
2022 4
CPU times: user 5min 38s, sys: 7min 43s, total: 13min 22s
Wall time: 20min 38s

In [16]:
data = pd.read_parquet('data/hist_data_time_2006Q1.parquet')

In [17]:
data

,LOAN_SEQUENCE_NUMBER,MONTHLY_REPORTING_PERIOD,CURRENT_ACTUAL_UPB,ZERO_BALANCE_CODE,CURRENT_INTEREST_RATE,CURRENT_MONTH_REPURCHASE_FLAG,TARGET,COUNT
0,F06Q10000001,200603,130000.00,NaN,6.500,130000.00,1.0,39
1,F06Q10000002,200603,214000.00,NaN,6.250,214000.00,1.0,36
2,F06Q10000003,200603,81000.00,NaN,6.375,81000.00,1.0,75
3,F06Q10000005,200604,296000.00,NaN,6.250,296000.00,1.0,52
4,F06Q10000006,200602,255000.00,NaN,6.250,255000.00,1.0,87
...,...,...,...,...,...,...,...,...
207178,F06Q10373684,201602,165694.96,NaN,5.875,165694.96,1.0,133
207179,F06Q10373697,200905,150000.00,NaN,5.000,150000.00,1.0,53
207180,F06Q10373781,200908,146000.00,NaN,5.200,146000.00,1.0,135
207181,F06Q10373947,202210,101710.78,NaN,3.375,96510.78,0.0,160
207182,F06Q10374273,201009,216000.00,NaN,4.355,216000.00,1.0,81

In [ ]:
df